body {
  margin: 0;
  background: #0a0a0a;
  color: white;
  text-align: center;
  font-family: Arial;
}

#boardWrap {
  position: relative;
  width: 1024px;
  height: 1024px;
  margin: auto;
}

#board {
  width: 1024px;
  height: 1024px;
  display: block;
}

.token {
  position: absolute;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  box-shadow: 0 0 10px white;
}
