body {
  margin: 0;
  background: black;
  color: white;
  text-align: center;
}

h1 {
  color: cyan;
  text-shadow: 0 0 20px cyan;
}

input {
  display: block;
  margin: 10px auto;
  padding: 10px;
}

button {
  margin: 5px;
  padding: 10px;
  background: cyan;
  border: none;
}

#board {
  width: 90vw;
  max-width: 500px;
}
