body{
  margin:0;
  font-family:Arial;
  background:black;
  color:white;
}

/* ЛОББИ */
.card{
  width:300px;
  margin:auto;
  margin-top:80px;
  padding:20px;
  border-radius:20px;
  background:rgba(255,255,255,0.05);
  box-shadow:0 0 30px #00eaff;
}

input{
  width:100%;
  margin:5px 0;
  padding:10px;
}

.chips{
  display:flex;
  justify-content:space-between;
}

.chip{
  width:45px;
  height:45px;
  border-radius:50%;
}

.red{background:red}
.blue{background:blue}
.green{background:green}
.yellow{background:gold}

.chip.selected{
  box-shadow:0 0 15px white;
}

button{
  width:100%;
  margin-top:5px;
  padding:10px;
}

/* ПОЛЕ */
#gameBoard{
  width:90vw;
  max-width:600px;
  height:600px;
  margin:auto;
  position:relative;
  border-radius:20px;
  background:url("board.jpg") center/cover;

  box-shadow:
    0 0 40px #ff8800,
    0 0 80px #ff5500;
}

/* ФИШКИ */
.player{
  position:absolute;
  width:20px;
  height:20px;
  border-radius:50%;
  box-shadow:0 0 15px currentColor;
}

/* МОДАЛКИ */
.modal{
  position:fixed;
  inset:0;
  display:none;
  justify-content:center;
  align-items:center;
  background:rgba(0,0,0,0.8);
  z-index:9999;
}

.modalBox{
  width:260px;
  padding:20px;
  border-radius:20px;
  text-align:center;
}

.scandal{
  background:#400;
  box-shadow:0 0 30px red;
}

.risk{
  background:#003;
  box-shadow:0 0 30px cyan;
}

/* ПОДСКАЗКА */
#hint{
  position:fixed;
  bottom:20px;
  left:50%;
  transform:translateX(-50%);
  background:#111;
  padding:10px 20px;
  border-radius:20px;
  display:none;
}
